@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Sora:wght@600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sora', sans-serif;
}

:root {
    --darkgray: #808080;
    --midGray: #969696;
    --lightGray: #D0D0D1;
    --black: #161617;
    --midBlack: #1f2022;
    --lightBlack: #2d2d2f;
    --blue: #4573FD;
    --green: #1FAB71;
    --white: #fff;
}


/*h1*/

.headingFont {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    color: var(--white);
}


/*h2*/

.subHeadingFont {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    color: var(--white);
}

span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--green);
}


/*p*/

.paragraphFont {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--midGray);
}


/*h4*/

.QA-Font {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--white);
}