    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Sora:wght@600;700&display=swap');
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        font-family: 'Sora', sans-serif;
        background-color: #161617;
    }
    
     :root {
        --darkgray: #808080;
        --midGray: #969696;
        --lightGray: #D0D0D1;
        --black: #161617;
        --midBlack: #1f2022;
        --lightBlack: #2d2d2f;
        --blue: #4573FD;
        --green: #1FAB71;
        --white: #fff;
    }
    
    .flex {
        display: flex;
    }
    
    body {
        width: 375px;
        margin: 0 auto;
        background-color: var(--midBlack);
    }
    /*h1*/
    
    .headingFont {
        font-family: 'Sora', sans-serif;
        font-weight: 700;
        color: var(--white);
    }
    /*h2*/
    
    .subHeadingFont {
        font-family: 'Sora', sans-serif;
        font-weight: 600;
        color: var(--white);
    }
    
    span {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: var(--green);
    }
    /*p*/
    
    .paragraphFont {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: var(--midGray);
    }
    /*h4*/
    
    .QA-Font {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: var(--white);
    }
    /*header*/
    
    .navbar {
        padding: 1em 2em;
    }
    
    .logo {
        color: var(--white);
        font-size: 1.5rem;
    }
    
    .nav-item a {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: var(--midGray);
        text-align: center;
        font-size: 1.25rem;
    }
    
    .nav-item a:hover,
    .nav-item a:focus {
        color: var(--white);
    }
    
    .navbar-toggler-icon {
        background-color: var(--white);
    }
    /*first section*/
    
    .first {
        flex-direction: column;
        width: 100%;
        padding: 1em;
    }
    
    .first-section--left {
        width: 100%;
    }
    
    .first-section--left img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150%;
        transform: translate(0, -5em);
    }
    
    .first-section--left {
        order: 2;
    }
    
    .first-section--right {
        order: 1;
    }
    
    .first-section--right {
        width: 100%;
    }
    
    .first-section-right--content {
        margin-top: 3em;
    }
    
    .first-section-right-cardSearch {
        width: 100%;
        background-color: var(--white);
        padding: 1em;
        border-radius: 14px;
        flex-direction: column;
    }
    
    .cardSearch--iconContant img {
        background-color: var(--white);
        width: 30px;
        height: 30px;
    }
    
    .cardSearch--iconContant,
    .cardSearch--iconContant span,
    .cardSearch--iconContant p,
    .cardSearch--iconContant b {
        background-color: var(--white);
    }
    
    .cardSearch--iconContant {
        gap: 1em;
    }
    
    .first-section-right-contant--rate {
        padding-top: 1em;
        text-align: center;
        position: absolute;
        transform: translateY(31em);
        /*tansform none in web version*/
    }
    
    .first-section-right-contant--rate h3 {
        color: var(--white);
    }
    
    .first-section-right-contant--rate span {
        color: var(--blue)
    }
    
    .first-section-right--content {
        position: relative;
    }
    /*end first*/
    
    .second {
        position: relative;
        padding: -9em;
        padding-left: 2em;
        padding-top: 2em;
    }
    
    .second span {
        margin-bottom: 2em;
    }
    
    .sec-section--cards {
        flex-direction: column;
        padding: 2em 0;
        border-radius: 14px;
        margin-top: 1em;
        background-color: var(--lightBlack);
    }
    
    .card {
        margin-bottom: 2em;
        margin: 0 auto;
        margin-bottom: 2em;
        background-color: var(--black);
    }
    
    .icons-card {
        text-align: center;
        padding: 0 .20em;
        gap: .10em;
    }
    
    .card img {
        width: 100%;
        display: inline-block;
        height: 100%;
    }
    
    .card p {
        display: inline-block;
        font-size: 11;
        color: var(--lightGray);
        align-items: center;
    }
    
    .card-body img {
        width: 25px;
    }
    
    .card--btn-price {
        gap: 2em;
        padding-top: 1em;
        align-items: center;
    }
    
    .icons-card img {
        width: 20px;
    }
    
    .icons-card p {
        margin-right: .20em;
    }
    
    .card--btn-price p {
        margin-top: 1em;
    }
    
    .explore-icon {
        gap: .5em;
        width: 100%;
        margin-top: 1em;
    }
    
    .explore-icon img {
        width: 30px;
        height: 20px;
    }
    
    .third {
        width: 100%;
        padding-left: 2em;
        flex-direction: column;
        position: relative;
    }
    
    .third-section-right {
        width: 100%;
    }
    
    .third-section-right h2 {
        margin: 1em 0
    }
    
    .third-section-right--services p {
        width: 100%;
        color: var(--lightGray);
    }
    
    .third-section-right--services-col {
        z-index: 2;
    }
    
    .third-section-right--services {
        gap: 1em;
    }
    
    .icon-services {
        padding-top: 1em;
    }
    
    .icon-services img {
        display: inline-block;
        width: 18px;
        height: 16px;
    }
    
    .third-section-left {
        width: 100%;
        text-align: center;
    }
    
    .third-section-left img {
        display: inline-block;
        margin-left: -3em;
        margin-right: auto;
        text-align: center;
        width: 130%;
        transform: translateY(-5em);
        z-index: 1;
    }
    
    .fourth {
        padding-left: 2em;
        transform: translateY(-9em);
        width: 100%;
        flex-direction: column;
    }
    
    .fourth-secton-left p {
        padding-bottom: 1em;
        width: 90%;
    }
    
    .fourth-section-left--icon {
        gap: 1em;
    }
    
    .fourth-section-left--icon img {
        width: 20px;
        height: 15px;
    }
    
    .fourth-section-left--icon p {
        color: var(--lightGray);
    }
    
    .fourth-section-right {
        width: 100%;
    }
    
    .fourth-section-right img {
        position: relative;
        width: 90%;
    }
    
    .fifth {
        transform: translateY(-10em);
        padding-top: 5em;
        padding-left: 2em;
        width: 100%;
    }
    
    .carousel-item {
        padding-right: 1.20em;
        width: 100%;
    }
    
    .carousel-item img {
        padding-top: 2em;
        width: 100%;
    }
    
    .sixth {
        background-color: var(--black);
        transform: translateY(-10em);
        padding-top: 5em;
        padding-left: 2em;
        width: 100%;
    }
    
    .sixth button {
        width: 90%;
        margin-top: 1em;
        border-radius: 2px;
    }
    
    .greenBG {
        background-color: var(--green);
        color: var(--white);
        padding: 1em;
        margin-right: 2em;
        border: none;
        border-radius: 0 0px;
    }
    
    .border {
        border-radius: none;
        background-color: var(--black);
        width: 90%;
        margin-right: 2em;
        padding: 1em;
        color: var(--white);
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        line-height: 25px;
    }
    
    footer {
        background-color: var(--black);
        transform: translateY(-10em);
        padding-top: 5em;
        padding-left: 2em;
        width: 100%;
        height: 100vh;
        background-color: var(--black);
    }
    
    footer h4 {
        border-bottom: 1px solid var(--green);
    }
    
    .flex-footer {
        flex-direction: column;
    }
    
    footer button {
        width: 100%;
    }
    
    footer img {
        display: inline;
        width: 20px;
        padding-top: 1em;
    }
    
    footer p {
        background-color: var(--black);
    }